/*-- scss:defaults --*/

/*-- scss:rules --*/

.smallest {
  font-size: 0.5em;
}

.small {
  font-size: 0.75em;
}

.medium {
  font-size: 0.9em;
}

.reveal .slide .task {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-left: solid 5px #123233;
    background-color: #CCDA5150;
  }
  
  .reveal .slide .follow {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-left: solid 5px #151233;
    background-color: #51b3da50;
  }
  
  .reveal .slide .learn-more {
    text-align: center;
    font-family: $font-family-monospace;
    padding-bottom: 10px;
  }